<h1>Bienvenue !</h1>

<p>
    Pour valider ton compte, connecte toi depuis le lien ci-dessous :<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A+
</p>
