{% extends 'base.html.twig' %}

{% block title %}Confirmer votre e-mail
{% endblock %}

{% block body %}

    <div class="w-full h-screen">
        <div class="text-3xl text-center pt-60 px-8">Vous <span class="border-b-2 border-indigo-500">avez reçu un e-mail de confirmation, merci de vérifier votre boîte</span> mail.</div>
    </div>    

{% endblock %}